.container {
    position: relative;
    margin-top: 5rem;
}

.content-right {
    padding-top: 3rem;
    h1 {
        font-size: 46px;
        font-weight: 800;
        color: #656d78;
    }
    p {
        font-weight: 500;
        color: #656d78;
        font-size: 1.2rem;
    }
    .btn {
        border-radius: 2rem;
        padding: 1rem;
    }
}
.modal-dialog {
    max-width: 765px !important;
}
.modal-content {
    .modal-title {
        font-weight: 600;
        color: #656d78;
    }
    .close {
        border: none;
        font-size: 2rem;
        color: #ffcd39;
        background: white;
    }
    .modal-footer {
        justify-content: center;
        .btn {
            font-weight: 600;
            color: #656d78;
            border-radius: 1rem;
        }
    }
    .modal-body {
        label {
            font-weight: 600;
            color: #656d78;
            margin-left: 1rem;
        }
        .form-control {
            border-radius: 2rem;
        }
        .invalid-feedback {
            margin-left: 1rem;
        }
    }
}
