.how-it-work {
  height: 788px;
  background: #f2f2f2;
  border-radius: 100px;
  margin-top: 110px;
  &-title {
    font-weight: 600;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #656d78, #2f3640);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 120px;
  }
  &-video {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .how-it-work {
    height: 440px;
    margin-top: 80px;
    &-title {
      font-size: 48px;
      padding-top: 20px;
    }
    &-video {
      margin-top: 25px;
      img {
        height: 250px;
      }
    }
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .how-it-work {
    height: 440px;
    margin-top: 80px;
    &-title {
      font-size: 48px;
      padding-top: 20px;
    }
    &-video {
      margin-top: 25px;
      img {
        height: 250px;
      }
    }
  }
}

@media (max-width: 739px) {
  .how-it-work {
    height: 200px;
    border-radius: 36px;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    &-title {
      font-size: 28px;
      padding-top: 8px;
    }
    &-video {
      margin-top: 4px;
      img {
        height: 130px;
      }
    }
  }
}
