.questions {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 120px;
  &-title {
    font-weight: 600;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #656d78, #2f3640);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-body {
    margin-top: 70px;
    .accordion-item {
      margin-bottom: 20px;
      border: 1px solid #4f4f4f;
      border-radius: 8px;
      overflow: hidden;
    }
    .accordion-header {
      border: 1px solid black;
      border-radius: 5px;
      height: 80px;
      display: flex;
      align-items: center;
      .accordion-button {
        color: black;
        font-size: 22px;
        background-color: white;
        border: 0;
        background: linear-gradient(to right, #09090a, #010710);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .accordion-body {
      display: flex;
      align-items: center;
      height: 170px;
      font-weight: normal;
      font-size: 18px;
      line-height: 170%;
    }
  }
}

.accordion-button.active {
  color: black;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .questions {
    max-width: 960px;
    margin-top: 100px;
    &-title {
      font-size: 52px;
    }
    &-body {
      margin-top: 70px;
    }
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .questions {
    max-width: 680px;
    margin-top: 80px;
    &-title {
      font-size: 44px;
    }
    &-body {
      margin-top: 40px;
      .accordion-header {
        height: 65px;
        .accordion-button {
          font-size: 16px;
        }
      }
      .accordion-body {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 739px) {
  .questions {
    max-width: 350px;
    margin-top: 55px;
    &-title {
      font-size: 23px;
    }
    &-body {
      margin-top: 30px;
      .accordion-header {
        height: 55px;
        .accordion-button {
          font-size: 13px;
        }
      }
      .accordion-body {
        font-size: 10px;
        padding: 10px 10px;
      }
    }
  }
}
