.main_user {
  :root {
    --bs-font-sans-serif: "Segoe UI", sans-serif;
    --bs-font-monospace: "Segoe UI", sans-serif;
  }

  // Header
  .header {
    display: flex;
    max-width: 1260px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    cursor: pointer;

    &-menu {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        display: flex;
        color: #4f4f4f;
        font-weight: 500;
        font-size: 18px;
        li {
          &:not(:last-child) {
            margin-right: 40px;
          }
        }
      }
    }
  }
  /* Footer */

  .al-footer {
    color: #828282;
    letter-spacing: 0.64px;
    font-size: 17px;
    height: 75px;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #c5c5c5;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .header {
    max-width: 900px !important;
    &-menu {
      ul {
        font-size: 18px;
        li {
          &:not(:last-child) {
            margin-right: 40px;
          }
        }
      }
    }
  }
  .al-footer {
    max-width: 910px !important;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .header {
    max-width: 680px !important;
    &-logo {
      img {
        width: 165px;
      }
    }
    &-menu {
      ul {
        font-size: 18px;
        li {
          &:not(:last-child) {
            margin-right: 20px !important;
          }
        }
      }
    }
  }
  .al-footer {
    max-width: 690px !important;
  }
}

@media (max-width: 739px) {
  .header {
    max-width: 350px !important;
    &-logo {
      img {
        width: 120px;
      }
    }
    &-menu {
      display: none;
    }
  }
  .header-in-footer {
    display: none !important;
  }
  .al-footer {
    max-width: 350px !important;
    font-size: 14px !important;
  }
}
