.slides {
  // background: #f8f7f3;
  // background-image: url("../../../assets/images/vong-xoay.jpeg");
  background: linear-gradient(#4269fa, #89d9fd);
  border-radius: 0px 0px 100px 100px;
  // height: 908px;
  background-size: cover;
  &-header {
    padding-top: 10px;
  }
  &-content {
    max-width: 1260px;
    margin: 0 auto;
    &-desc {
      font-family: "UTMAvo";
      font-weight: bold;
      font-size: 52px;
      line-height: 120%;
      // display: flex;
      color: #ffffff;
      text-align: center;
      button {
        font-weight: bold;
        font-size: 30px;
        line-height: 120%;
        background: #ff0049;
        box-shadow: 0px -1px 20px rgba(255, 255, 255, 0.8);
        border-radius: 76px;
      }
    }
  }
}
