$list-winner-height: 699px;
$list-winner-title-height: 90px;
$list-winner-header-height: 80px;
.list-winner {
  max-width: 970px;
  margin: 0 auto;
  // height: $list-winner-height;
  background: #9ba3ae;
  border-radius: 15px;
  margin-top: 80px;
  color: #ffffff;
  overflow: hidden;
  background: linear-gradient(#89d9fd, #4269fa);
  &-title {
    width: 100%;
    height: $list-winner-title-height;
    // background: #282d35;
    background: linear-gradient(#89d9fd, #4269fa);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
  }
  &-header {
    display: flex;
    height: $list-winner-header-height;
    // background: linear-gradient(90deg, #656d78 0%, #2f3640 100%);
    background: linear-gradient(#89d9fd, #4269fa);
    &-item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
    }
    &-item.reward {
      width: 350px;
      flex: unset;
    }
  }
  &-body {
    overflow-y: auto;
    &::-webkit-scrollbar:vertical {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #656d78;
      border-radius: 10px;
    }
    height: calc(
      #{$list-winner-height} - #{$list-winner-title-height} - #{$list-winner-header-height}
    );
    &-row {
      display: flex;
      width: 100%;
      &:not(:last-child) {
        border-bottom: 1px solid #bbbbbb;
      }
      &-item {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 21px;
        line-height: 120%;
        padding: 20px 5px;
        border-bottom: 1px solid;
      }
      &-item.reward {
        width: 350px;
        font-weight: bolder;
        flex: unset;
      }
    }
    // .no-data {
    //   height: 100%;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   font-size: 36px;
    //   font-weight: 600;
    // }
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .list-winner {
    max-width: 700px;
    &-title {
      font-size: 34px;
    }
    &-header {
      &-item {
        font-size: 22px;
      }
      &-item.reward {
        width: 350px;
        flex: unset;
      }
    }
    &-body {
      &-row {
        &-item {
          font-size: 20px;
          padding: 20px 5px;
        }
        &-item.reward {
          width: 350px;
          flex: unset;
        }
      }
    }
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .list-winner {
    max-width: 550px;
    &-title {
      font-size: 30px;
    }
    &-header {
      &-item {
        font-size: 18px;
      }
      &-item.reward {
        width: 260px;
        flex: unset;
      }
    }
    &-body {
      &-row {
        &-item {
          font-size: 16px;
          padding: 20px 5px;
        }
        &-item.reward {
          width: 260px;
          flex: unset;
        }
      }
    }
  }
}

@media (min-width: 441px) and (max-width: 739px) {
  .list-winner {
    max-width: 550px;
    margin-top: 60px;
    &-title {
      font-size: 28px;
    }
    &-header {
      &-item {
        font-size: 18px;
      }
      &-item.reward {
        width: 260px;
        flex: unset;
      }
    }
    &-body {
      &-row {
        &-item {
          font-size: 16px;
          padding: 20px 5px;
        }
        &-item.reward {
          width: 260px;
          flex: unset;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .list-winner {
    max-width: 360px;
    margin-top: 60px;
    &-title {
      font-size: 20px;
      height: 70px;
    }
    &-header {
      height: 60px;
      &-item {
        font-size: 13px;
        text-align: center;
      }
      &-item.reward {
        width: 180px;
        flex: unset;
      }
    }
    &-body {
      height: calc(#{$list-winner-height} - 70px - 60px);
      height: 400px;
      &-row {
        &-item {
          font-size: 11px;
          padding: 20px 5px;
        }
        &-item.reward {
          width: 180px;
          flex: unset;
        }
      }
    }
  }
}
