$list-winner-height: 699px;
$list-winner-title-height: 90px;
$list-winner-header-height: 80px;
.list-winner {
  max-width: 970px;
  margin: 0 auto;
  height: $list-winner-height;
  background: #9ba3ae;
  border-radius: 15px;
  margin-top: 80px;
  color: #ffffff;
  overflow: hidden;
  &-title {
    width: 100%;
    height: $list-winner-title-height;
    background: #282d35;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 36px;
  }
  &-header {
    display: flex;
    height: $list-winner-header-height;
    background: linear-gradient(90deg, #656d78 0%, #2f3640 100%);
    &-item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
    }
  }
  &-body {
    overflow-y: auto;
    &::-webkit-scrollbar:vertical {
      width: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #656d78;
      border-radius: 10px;
    }
    height: calc(
      #{$list-winner-height} - #{$list-winner-title-height} - #{$list-winner-header-height}
    );
    &-row {
      display: flex;
      width: 100%;
      &:not(:last-child) {
        border-bottom: 1px solid #bbbbbb;
      }
      &-item {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        padding: 30px;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .list-winner {
    max-width: 700px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .list-winner {
    max-width: 550px;
    &-header {
      &-item {
        font-size: 22px;
        padding-right: 30px;
      }
    }
    &-body {
      &-row {
        &-item {
          font-size: 20px;
          padding: 30px;
        }
      }
    }
  }
}

@media (max-width: 739px) {
  .list-winner {
    max-width: 350px;
    margin-top: 60px;
    &-title {
      font-size: 28px;
      // height: 60px;
    }
    &-header {
      // height: 60px;
      &-item {
        font-size: 18px;
        padding-right: 28px;
      }
    }
    &-body {
      &-row {
        &-item {
          font-size: 14px;
          padding: 30px 5px;
        }
      }
    }
  }
}
